
fe/react-ecom/node_modules/
fe/react-ecom/node_modules/.cache/default-development/0.pack
fe/react-ecom/node_modules/.cache/default-development/1.pack
fe/react-ecom/node_modules/.cache/default-development/index.pack
fe/react-ecom/node_modules/.cache/default-development/index.pack.old
